.navbar {
  background-color: white;
  color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding-top: 20px;
  margin: 0;
}

.navbar-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.display-button-container {
  display: inline-block;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
  margin-left: 20px;
  margin-bottom: 10px;
}

.display-button {
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Add border */
  padding: 5px 10px; /* Adjust padding */
  border-radius: 5px;
  position: relative; /* Add position */

}

.display-button:hover {
  background-color: #ff9900; /* Change background color on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Increase shadow on hover */
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.display-button-icon {
  margin-right: 7px;
}

.dropdown-arrow {
  margin-left: 5px;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
}

.dropdown-arrow.show {
  transform: rotate(180deg);
}

.display-button:hover {
  background-color: #f9f9f9;
}

.button-box {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  /* Position absolutely */
  top: 80%;
  /* Position below the button */
  right: 85%;
  /* Align with the right edge */
  margin-top: 10px;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 0;
  /* Start hidden */
  transform: translateY(-10px);
  /* Start slightly above */
}

.button-box.show {
  margin-top: 20px;
  /* Increase margin when the box is shown */
  opacity: 1;
  /* Show the box */
  transform: translateY(0);
  /* Move to original position */
}

.button-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}


.grouping-options,
.sorting-options {
  margin-top: 10px !important;
  /* Add space between the buttons */
}

label {
  margin-right: 10px;
}

.select-container {
  position: relative;
  /* padding-right: 10px;
   */
   display: flex;
   align-items: center;
}

/* Update the animation */
.dropdown-btn {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Custom animation for buttons on hover */
.dropdown-btn:hover {
  transform: translateY(-2px);
}

.dropdown-content {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 10px;
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

/* Show the dropdown content on hovering over the .select-container */
.select-container:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


@media screen and (max-width: 768px) {
  .navbar-inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .display-button-container {
    margin-left: 0;
    margin-top: 10px;
  }

  .display-button {
    border: none;
    margin-bottom: 10px;
  }

  .button-box {
    top: 70%;
    right: 46%;
  }
}