/* DropdownButton.css */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.parent-dropdown {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.parent-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  width: 250px;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.dropdown-content {
  display: flex;
  align-items: center;
}

.dropdown-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;

}

.submenu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  width: 200px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.menu-section {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;

}

.dropdown-label {
  margin-right: 10px;
  min-width: 70px;
  /* Add spacing between label and button */
}

.option-button {
  background-color: #ddd;
  border: none;
  padding: 6px 12px;
  margin: 4px 0;
  cursor: pointer;
}

.arrow {
  margin-left: 6px;
  font-size: 10px;
  transition: transform 0.2s;
}

.arrow.open {
  transform: rotate(180deg);
}